.signup{
	text-align: right;
	margin-right: 43%;
	margin-left: 30%;
}

.signUpPageInput{
	margin-top: 5px;
	margin-bottom: 5px;
}

.signUpPageInput{
	margin-top: 5px;
	margin-bottom: 5px;
}

.signUpPageButton{
	height: 25px;
	width: 173px;
	margin-top: 5px;
	margin-bottom: 5px;
	
}